.menu-lv2 button{
    color: #dddd;
    
}
.menu-lv2 NotificationsNoneIcon{
    font-size: 30px;
    
}


.menu-lv2 li{
    display: block;
    }

    .menu-lv2 .notification-time{
        color: silver;
        font-size: 15px;
    }